<div class=" transition-all"
>
  <div
       #element
       *ngIf="( array | async) as pers"
  >
    <lib-carousel></lib-carousel>
  </div>


  <button class="carousel-previous"
          liburgBtx
  >Previous
  </button>
  <button class="carousel-next"
          liburgBtx
  >Next
  </button>
  <button liburgBtx
          (click)="showButtons = !showButtons"
          class="">
    Show buttons
  </button>
  <div class="w-full radius bg-blueGray-50"
       [@fade]
       ngxJumbotron
       *ngIf="showButtons"
  >
    <button

      liburgBtx
      data-ripple-light="true"
    >hikhkh
      dasds
    </button>
    <button
      liburgBtx
      data-ripple-light="true"
      variant="SECONDARY"
    >hikhkh
      <div>
        dasds
      </div>
    </button>
    <button
      liburgBtx
      data-ripple-light="true"
      variant="DANGER"
    >hikhkh
      <div>
        dasds
      </div>
    </button>
    <button
      liburgBtx
      data-ripple-light="true"
      variant="TERTIARY"
    >hikhkh

    </button>
    <div class="bg-red-500">
      dasds
    </div>
  </div>
</div>

<div>
