<div class=" transition-all"
>
  <div class="flex"
       #element
       *ngIf="( array | async) as pers"
       [libCarousel]="element"


  >
      <div ngxJumbotron
           *ngFor="let person of pers"
           [@fade]
           [style.min-width.rem]="9"
      >
        <div>
          {{person.age}}
        </div>
        <div>
          {{person.id}}
        </div>
        <div>
          {{person.name}}
        </div>
      </div>
  </div>


  <button class="carousel-previous"
          liburgBtx
          (click)="scrollPrevious()">Previous
  </button>
  <button class="carousel-next"
          liburgBtx
          (click)="scrollNext()">Next
  </button>
  <button liburgBtx
          (click)="showButtons = !showButtons"
          class="">
    Show buttons
  </button>
  <div class="w-full radius bg-blueGray-50"
       [@fade]
       ngxJumbotron
       *ngIf="showButtons"
  >
    <button

      liburgBtx
      data-ripple-light="true"
    >hikhkh
      dasds
    </button>
    <button
      liburgBtx
      data-ripple-light="true"
      variant="SECONDARY"
    >hikhkh
      <div>
        dasds
      </div>
    </button>
    <button
      liburgBtx
      data-ripple-light="true"
      variant="DANGER"
    >hikhkh
      <div>
        dasds
      </div>
    </button>
    <button
      liburgBtx
      data-ripple-light="true"
      variant="TERTIARY"
    >hikhkh

    </button>
    <div class="bg-red-500">
      dasds
    </div>
  </div>
</div>

<div>
